<head prefix=”og:http://ogp.me/ns# fb:http://ogp.me/ns/fb# website:http://ogp.me/ns/website#”>
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
	<link rel="stylesheet" href="{{ "assets/css/baguetteBox.min.css" | relative_url }}" />
	<meta property="og:url" content="https://halneco.github.io/">
	<meta property="og:type" content="website">
	<meta property="og:title" content="天命のリヴェル">
	<meta property="og:description" content="REBEL:HEAVEN'S WILL はるねこの創作サイト">
	<meta property="og:site_name" content="天命のリヴェル">
	<meta property="og:image" content="https://halneco.github.io/assets/images/ogp_img.jpg">
	<meta name="twitter:card" content="summary_large_image">
</head>
